<nz-card nzTitle="Reused Ckeditor">
  <div nz-row>
    <div nz-col [nzSpan]="2">
      <h4>Language：</h4>
    </div>
    <div nz-col [nzSpan]="22">
      <nz-radio-group [(ngModel)]="config.language"
                      (ngModelChange)="changeLanguage()">
        <label nz-radio-button nzValue="en">en</label>
        <label nz-radio-button nzValue="zh-CN">zh-CN</label>
      </nz-radio-group>
    </div>
  </div>
  <div nz-row style="margin-top: 15px;">
    <div nz-col [nzSpan]="2">
      <h4>ToolBar：</h4>
    </div>
    <div nz-col [nzSpan]="22">
      <nz-radio-group [(ngModel)]="config.toolbar"
                      (ngModelChange)="changeToolBar()">
        <label nz-radio-button [nzValue]="default">default</label>
        <label nz-radio-button [nzValue]="basic">basic</label>
      </nz-radio-group>
    </div>
  </div>

  <nz-divider></nz-divider>

  <ngx-ckeditor #editor [(ngModel)]="text" [config]="config"></ngx-ckeditor>

  <nz-divider></nz-divider>

  <markdown [src]="'/ngx-ckeditor4/assets/docs/reused.md'"></markdown>
</nz-card>
