<nz-card nzTitle="Hello Ckeditor" [nzBordered]="false">
  <nz-form-item>
    <nz-radio-group [(ngModel)]="inline">
      <label nz-radio-button [nzValue]="false">Normal</label>
      <label nz-radio-button [nzValue]="true">Inline</label>
    </nz-radio-group>
  </nz-form-item>
  <nz-form-item>
    <nz-radio-group [(ngModel)]="disabled">
      <label nz-radio-button [nzValue]="false">Normal</label>
      <label nz-radio-button [nzValue]="true">Disabled</label>
    </nz-radio-group>
  </nz-form-item>
  <nz-form-item>
    <ngx-ckeditor
      [(ngModel)]="text"
      (ngModelChange)="change($event)"
      (ready)="ready($event)"
      [inline]="inline"
      [disabled]="disabled"
    ></ngx-ckeditor>
  </nz-form-item>
</nz-card>
